body {
    font-family: Lato;
}

.container {
    width: 800px; height: 800px;
    background: #ccc;
}

.note {
    width: 100px; height: 100px; position: absolute;
}

#a {
    background: red; left: 20px; top: 20px;
}

#b {
    background: blue; left: 400px; top: 200px;
}

#c {
    background: green; left: 700px; top: 100px;
}